/* Import fonts from google (font families) */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Share+Tech&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Specifies that the background extends behind the border */
* {
    box-sizing: border-box;
}

/* Creates content that is clipped */
header,
section {
    overflow-x: hidden;
}

/* Declare global variables to font families,gradients, and common used color on page. Easier to apply */
/*  font-family: 'Lobster', cursive;
    font-family: 'Share Tech', sans-serif;
    font-family: 'Ubuntu', sans-serif; */
:root {
    --Lobster: 'Lobster', cursive;
    --Share: 'Share Tech', sans-serif;
    --Ubuntu: 'Ubuntu', sans-serif;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to left top, #ffdf01, #ffac1f, #ff7948, #ff4a6b, #e12e8a);
    --light-gray: rgba(255, 255, 255, 0);
}

/* Use the global variable for font family */
header a {
    font-family: var(--Lobster);
    font-size: 1.5em;
    color: azure;
}

/* Use the global variable for background gradient */
/* Specify color and padding to header nav items */
header {
    background: #ff7948;
    background: var(--bggradient);
}

hr.rounded {
    border-top: 6px solid var(--light-black);
    max-width: 35%;
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* ==============================================Nav Area========================================= */

header .nav-item:last-child {
    padding-right: 10.5em;
}

header .nav-item {
    padding: 0.9em;
}

/* Name logo */
header .navbar-brand {
    padding-left: 8rem;
    font-size: 4vmin;
}

header .navbar-brand:hover {
    color: var(--light-black);
}

/* Nav link items */
header .nav-link {
    font-family: var(--Ubuntu);
}

header .nav-link:hover {
    color: var(--light-black);
}

/* ==============================================End Nav Area========================================= */

/* ==============================================Hero Area========================================= */

header .row .col-md-5 {
    padding: 4vmin 1vmin;
}

header .row .col-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
    font-family: var(--Ubuntu);
    color: azure;
    word-spacing: 0.45em;
}

header .row .col-md-5 img {
    width: 140%;
}

header .container .col-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
}

header .container .col-md-7 h1 {
    font-size: 7vmin;
    font-weight: bold;
    padding: 0.1em 0em;
}

header .container .col-md-7 p {
    padding: 1vmin 5vmin;
}

/* Hero button styling */
header .container .col-md-7 a {
    border-radius: 30px;
    font-family: var(--Ubuntu);
    font-weight: bold;
    color: var(--light-black);
}

/* ==============================================End Hero Area========================================= */

/* ==============================================Section1========================================= */
.section-1 {
    position: relative;
    padding: 20vmin 0;
}

/* About me card img position and sizing */
.section-1 .row .col-md-6 .phone img {
    opacity: 0.7;
    width: 85%;
    border-radius: 0.2em;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.3);
}

/* Specify position relative to the about text panel */
.section-1 .row .col-md-6:last-child {
    position: relative;
}

/* About me card positioning */
.section-1 .row .col-md-6 .panel {
    width: fit-content;
    margin-top: 8vmin;
    margin-left: -19vmin;
    background: azure;
    border-radius: 4px;
    text-align: left;
    padding: 13vmin 5vmin 5vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.3);
    font-family: var(--Ubuntu);
    z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
    font-family: var(--Lobster);
    font-weight: bold;
    color: var(--light-black);
}

.section-1 .row .col-md-6 .panel p {
    font-size: 0.9em;
    color: var(--light-black);
}

.section-1 .row .col-md-6 .panel pre {
    padding-top: 3vmin;
    padding-right: 12vmin;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* ==============================================End Section1========================================= */

/* ==============================================Section2========================================= */


.section-2 .container h1 {
    color: var(--light-black);
    font-size: 6vmin;
    font-family: var(--Lobster);
    padding-top: 14vmin;
}

.section-2 .container p {
    color: var(--light-gray);
    font-family: var(--Ubuntu);

}

.section-2 .work {
    padding: 10vmin 4vmin;
}

.section-2 .card {
    width: 27rem;
    margin-top: 10vmin;
}

.section-2 .card .card-text {
    padding: 0.5em;
}

.section-2 .card .card-body>a {
    font-size: 1em;
}

.section-2 .card .card-body .btn {
    background: var(--bggradient);
}

.section-2 .card .card-body h3 {
    font-family: var(--Ubuntu);
}

/* creates crop for card img */
.border-radius {
    border-radius: 360px;
    width: 80%;
}

/* ==============================================End Section2========================================= */

/* ==============================================Footer Section======================================= */

footer {
    background: var(--light-black);
    overflow-x: hidden;
    padding: 14vmin 15vmin;
    margin-top: 15vmin;
}

footer h4 {
    padding-bottom: 2vmin;
}

footer p {
    color: var(--light-gray);
}

footer .column i {
    color: azure;
}

footer .column i+i {
    padding: 0 0.5em;
    margin-bottom: 2vmin;
}


/* ==============================================End Footer Section======================================= */

/* ==============================================Projects page======================================= */


.image-parent {
    max-width: 300px;
}